extends layout
block script
    script(type='text/javascript').
      alert('width : ' + window.innerWidth + 'Height :'+ window.innerHeight);
block content
    img(src=skill.imagePath)
    h3= skill.name
    p= skill.description
    hr

    /-----------------
    each skill in skillList
                .skillItem
                    img(src=skill.imagePath)
                    h3= skill.name
                    p= skill.description
                    hr