extends parentLayout
block pageScript
    
block mainContent
    div 
        h1=title
        div.upperHalf.imgBgTestimonials
        .wrapper
            each item in docList
                - var imgPath = item.image
                .testimonialItem
                    .image-wrapper
                        img(src=imgPath, alt='')
                    .userName
                        h4 #{item.fname}  #{item.lName}
                    hr.hr1
                    p  "#{item.review}.."
                    